.no-padding {
  padding: 0 !important;
}

/* Introducao */

.introducao {
  width: 100%;
  height: 327px;
  background: url("../img/bg-home.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 70px;
}

.introducao h1 {
  font-size: 48px;
}

.introducao a {
  border: 4px solid #70ae88;
}

.quote-externo {
  margin: 0 auto;
  max-width: 400px;
  padding-bottom: 30px;
}